/Alien.class
/AlienCoordinator.class
/Art.class
/CollisionsManager.class
/Explosion.class
/ExplosionCoordinator.class
/Laser.class
/LaserCoordinator.class
/Main.class
/Ship.class
/Sprite.class
/Star.class
/StrongAlien.class
